In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('feature_time_48k_1024.csv')

In [4]:
df

,Unnamed: 0,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
0,0,0.359862,-0.326066,0.019037,0.121674,0.123095,-0.035087,-0.173578,2.923439,6.466187,B007
1,1,0.333993,-0.418900,0.016644,0.123858,0.124911,-0.196543,0.066407,2.673851,7.504862,B007
2,2,0.410764,-0.361113,0.023228,0.127706,0.129740,0.087575,-0.410059,3.166049,5.585454,B007
3,3,0.467716,-0.336705,0.021281,0.137159,0.138734,0.247045,0.139518,3.371323,6.519001,B007
4,4,0.468550,-0.438092,0.019683,0.158518,0.159658,0.006540,-0.407030,2.934707,8.111655,B007
...,...,...,...,...,...,...,...,...,...,...,...
4595,4595,0.207990,-0.186919,0.014878,0.068253,0.069823,-0.154576,-0.039878,2.978801,4.692954,Normal
4596,4596,0.195055,-0.181495,0.012885,0.065278,0.066506,-0.312184,-0.015466,2.932901,5.161398,Normal
4597,4597,0.214248,-0.224053,0.012330,0.068346,0.069416,-0.337865,0.038123,3.086434,5.629799,Normal
4598,4598,0.196098,-0.247209,0.012699,0.064896,0.066096,-0.411371,0.502724,2.966888,5.204855,Normal
4599,4599,0.188171,-0.198393,0.011719,0.061573,0.062649,-0.283330,-0.135278,3.003571,5.345791,Normal

In [5]:
df.drop(df.columns[[0]], axis = 1, inplace = True)

In [6]:
df

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
0,0.359862,-0.326066,0.019037,0.121674,0.123095,-0.035087,-0.173578,2.923439,6.466187,B007
1,0.333993,-0.418900,0.016644,0.123858,0.124911,-0.196543,0.066407,2.673851,7.504862,B007
2,0.410764,-0.361113,0.023228,0.127706,0.129740,0.087575,-0.410059,3.166049,5.585454,B007
3,0.467716,-0.336705,0.021281,0.137159,0.138734,0.247045,0.139518,3.371323,6.519001,B007
4,0.468550,-0.438092,0.019683,0.158518,0.159658,0.006540,-0.407030,2.934707,8.111655,B007
...,...,...,...,...,...,...,...,...,...,...
4595,0.207990,-0.186919,0.014878,0.068253,0.069823,-0.154576,-0.039878,2.978801,4.692954,Normal
4596,0.195055,-0.181495,0.012885,0.065278,0.066506,-0.312184,-0.015466,2.932901,5.161398,Normal
4597,0.214248,-0.224053,0.012330,0.068346,0.069416,-0.337865,0.038123,3.086434,5.629799,Normal
4598,0.196098,-0.247209,0.012699,0.064896,0.066096,-0.411371,0.502724,2.966888,5.204855,Normal
4599,0.188171,-0.198393,0.011719,0.061573,0.062649,-0.283330,-0.135278,3.003571,5.345791,Normal

#### Outlier Removal

#### (1) Outlier detection and removal using 3 standard deviation
One of the ways we can remove outliers is remove any data points that are beyond 3 standard deviation from mean. Which means we can come up with following upper and lower bounds

In [7]:
df_B007=df[df['fault'] == 'B007']
df_B014=df[df['fault'] == 'B014']
df_B021=df[df['fault'] == 'B021']
df_IR007=df[df['fault'] == 'IR007']
df_IR014=df[df['fault'] == 'IR014']
df_IR021=df[df['fault'] == 'IR021']
df_OR007=df[df['fault'] == 'OR007']
df_OR014=df[df['fault'] == 'OR014']
df_OR021=df[df['fault'] == 'OR021']
df_Normal=df[df['fault'] == 'Normal']

#### B007 Part

In [8]:
df_B007=df[df['fault'] == 'B007']

In [9]:
df_B007

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
0,0.359862,-0.326066,0.019037,0.121674,0.123095,-0.035087,-0.173578,2.923439,6.466187,B007
1,0.333993,-0.418900,0.016644,0.123858,0.124911,-0.196543,0.066407,2.673851,7.504862,B007
2,0.410764,-0.361113,0.023228,0.127706,0.129740,0.087575,-0.410059,3.166049,5.585454,B007
3,0.467716,-0.336705,0.021281,0.137159,0.138734,0.247045,0.139518,3.371323,6.519001,B007
4,0.468550,-0.438092,0.019683,0.158518,0.159658,0.006540,-0.407030,2.934707,8.111655,B007
...,...,...,...,...,...,...,...,...,...,...
455,0.343798,-0.343590,0.019692,0.120789,0.122326,-0.130550,-0.206028,2.810515,6.212092,B007
456,0.492541,-0.542400,0.020121,0.170022,0.171126,-0.000808,0.114301,2.878239,8.504667,B007
457,0.398455,-0.363408,0.017809,0.132052,0.133184,-0.100095,0.047208,2.991770,7.478495,B007
458,0.510899,-0.440596,0.019605,0.141400,0.142684,0.149392,0.432554,3.580636,7.278101,B007
459,0.506935,-0.418482,0.016815,0.129588,0.130612,0.034733,0.804156,3.881234,7.767522,B007

In [10]:
upper_limit = df_B007.Max.mean() + 3*df_B007.Max.std()
upper_limit

0.6350440137673398

In [11]:
lower_limit = df_B007.Max.mean() -3*df_B007.Max.std()
lower_limit

0.23113159827279398

In [12]:
df_B007[df_B007['Max']>upper_limit]

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
31,0.663397,-0.513194,0.016377,0.163491,0.164229,0.230465,1.082587,4.039451,10.027982,B007
87,0.638989,-0.481067,0.019994,0.151445,0.152686,0.197271,0.964544,4.184988,7.636716,B007
272,0.675497,-0.525294,0.018209,0.170140,0.171029,0.085906,0.083177,3.949610,9.392521,B007
379,0.647751,-0.549493,0.021245,0.168414,0.169667,0.157702,0.758098,3.817772,7.986314,B007
437,0.646290,-0.504223,0.018218,0.194630,0.195386,0.113593,-0.274541,3.307767,10.724639,B007
452,0.639198,-0.525502,0.018403,0.162538,0.163498,0.064329,0.532128,3.909513,8.884423,B007

In [13]:
df_B007[df_B007['Max']<lower_limit]

Empty DataFrame
Columns: [Max, Min, Mean, Stddev, RMS, skew, kurtosis, crest_factor, form_factor, fault]
Index: []

In [14]:
df_B007_new = df_B007[(df_B007.Max<upper_limit) & (df_B007.Max>lower_limit)]
df_B007_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
0,0.359862,-0.326066,0.019037,0.121674,0.123095,-0.035087,-0.173578,2.923439,6.466187,B007
1,0.333993,-0.418900,0.016644,0.123858,0.124911,-0.196543,0.066407,2.673851,7.504862,B007
2,0.410764,-0.361113,0.023228,0.127706,0.129740,0.087575,-0.410059,3.166049,5.585454,B007
3,0.467716,-0.336705,0.021281,0.137159,0.138734,0.247045,0.139518,3.371323,6.519001,B007
4,0.468550,-0.438092,0.019683,0.158518,0.159658,0.006540,-0.407030,2.934707,8.111655,B007
...,...,...,...,...,...,...,...,...,...,...
455,0.343798,-0.343590,0.019692,0.120789,0.122326,-0.130550,-0.206028,2.810515,6.212092,B007
456,0.492541,-0.542400,0.020121,0.170022,0.171126,-0.000808,0.114301,2.878239,8.504667,B007
457,0.398455,-0.363408,0.017809,0.132052,0.133184,-0.100095,0.047208,2.991770,7.478495,B007
458,0.510899,-0.440596,0.019605,0.141400,0.142684,0.149392,0.432554,3.580636,7.278101,B007
459,0.506935,-0.418482,0.016815,0.129588,0.130612,0.034733,0.804156,3.881234,7.767522,B007

#### B014 Part

In [15]:
df_B014=df[df['fault'] == 'B014']
upper_limit = df_B014.Max.mean() + 3*df_B014.Max.std()
lower_limit = df_B014.Max.mean() -3*df_B014.Max.std()
df_B014_new = df_B014[(df_B014.Max<upper_limit) & (df_B014.Max>lower_limit)]
df_B014_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
460,1.002188,-0.954833,0.014690,0.196025,0.196479,-0.324920,5.485735,5.100748,13.375305,B014
461,0.353394,-0.319182,0.012336,0.087313,0.088138,-0.174743,0.649168,4.009577,7.144739,B014
462,0.402210,-0.400124,0.012436,0.129167,0.129702,0.033478,0.796868,3.101041,10.429504,B014
463,0.451444,-0.421403,0.014010,0.109158,0.110000,0.029992,1.513502,4.104015,7.851439,B014
464,0.302701,-0.286638,0.014815,0.093534,0.094655,0.030995,0.249124,3.197948,6.389135,B014
...,...,...,...,...,...,...,...,...,...,...
915,0.557838,-0.405340,0.009697,0.132941,0.133229,0.405393,0.987455,4.187047,13.739308,B014
916,0.328361,-0.416814,0.013303,0.117957,0.118647,-0.344254,0.586420,2.767535,8.919043,B014
917,0.293105,-0.238030,0.011604,0.074232,0.075098,0.133520,0.354849,3.902964,6.471829,B014
918,1.090224,-1.082505,0.008661,0.257980,0.257999,0.003906,2.813641,4.225687,29.788615,B014
919,0.637737,-0.615624,0.014585,0.175734,0.176253,0.048126,0.703912,3.618315,12.084721,B014

#### B021 Part

In [16]:
df_B021=df[df['fault'] == 'B021']
upper_limit = df_B021.Max.mean() + 3*df_B021.Max.std()
lower_limit = df_B021.Max.mean() -3*df_B021.Max.std()
df_B021_new = df_B021[(df_B021.Max<upper_limit) & (df_B021.Max>lower_limit)]
df_B021_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
920,0.392614,-0.344007,0.013465,0.125737,0.126394,0.125290,-0.287134,3.106263,9.386980,B021
921,0.438092,-0.434754,0.012330,0.159981,0.160377,0.020576,-0.414045,2.731633,13.007407,B021
922,0.488577,-0.419526,0.011811,0.170349,0.170675,0.049424,-0.297653,2.862612,14.450026,B021
923,0.428287,-0.433503,0.011388,0.150433,0.150790,0.052725,-0.402571,2.840282,13.241553,B021
924,0.475434,-0.455199,0.008657,0.165575,0.165720,0.059460,-0.449633,2.868895,19.143551,B021
...,...,...,...,...,...,...,...,...,...,...
1375,0.477103,-0.572232,0.011588,0.181881,0.182161,0.040206,-0.086909,2.619127,15.720183,B021
1376,0.432042,-0.511734,0.010614,0.174348,0.174586,-0.114671,-0.128028,2.474666,16.449107,B021
1377,0.475434,-0.451861,0.014883,0.157053,0.157680,0.032161,-0.088770,3.015189,10.594630,B021
1378,0.508396,-0.532386,0.011081,0.177600,0.177859,-0.011596,-0.441094,2.858415,16.050449,B021
1379,0.654426,-0.547407,0.011961,0.196998,0.197265,0.103024,0.049691,3.317496,16.492147,B021

#### IR007 Part

In [17]:
df_IR007=df[df['fault'] == 'IR007']
upper_limit = df_IR007.Max.mean() + 3*df_IR007.Max.std()
lower_limit = df_IR007.Max.mean() -3*df_IR007.Max.std()
df_IR007_new = df_IR007[(df_IR007.Max<upper_limit) & (df_IR007.Max>lower_limit)]
df_IR007_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
1380,1.285488,-1.476162,0.022064,0.292888,0.293575,-0.577919,4.758010,4.378735,13.305663,IR007
1381,1.548135,-1.078959,0.019941,0.267685,0.268296,0.527235,4.622602,5.770248,13.454286,IR007
1382,1.362467,-1.394594,0.026553,0.287973,0.289055,-0.045433,4.782575,4.713526,10.885775,IR007
1383,1.326794,-1.220400,0.015336,0.306002,0.306237,-0.234436,3.033856,4.332577,19.968905,IR007
1384,1.572543,-1.156981,0.020739,0.272721,0.273376,0.273736,5.137279,5.752306,13.181805,IR007
...,...,...,...,...,...,...,...,...,...,...
1835,1.339102,-1.013245,0.023344,0.256773,0.257707,0.325437,4.063364,5.196221,11.039565,IR007
1836,1.270468,-1.439238,0.019302,0.262240,0.262822,-0.381116,5.089203,4.833949,13.616005,IR007
1837,1.425260,-1.135076,0.020457,0.291456,0.292031,0.136893,3.658204,4.880509,14.275547,IR007
1838,1.339311,-1.241262,0.019577,0.271211,0.271784,0.006170,4.818836,4.927846,13.883089,IR007
1839,1.271928,-1.279647,0.016541,0.280558,0.280908,-0.408127,4.193716,4.527918,16.983024,IR007

#### IR014 Part

In [18]:
df_IR014=df[df['fault'] == 'IR014']
upper_limit = df_IR014.Max.mean() + 3*df_IR014.Max.std()
lower_limit = df_IR014.Max.mean() -3*df_IR014.Max.std()
df_IR014_new = df_IR014[(df_IR014.Max<upper_limit) & (df_IR014.Max>lower_limit)]
df_IR014_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
1840,0.716802,-0.645873,0.029628,0.219511,0.221395,0.028149,0.172869,3.237666,7.472468,IR014
1841,0.598935,-0.737038,0.027731,0.192386,0.194282,-0.065516,0.873934,3.082814,7.005900,IR014
1842,0.724730,-0.684467,0.031797,0.197078,0.199531,-0.127988,0.606922,3.632161,6.275174,IR014
1843,0.794199,-0.683633,0.030239,0.194573,0.196815,-0.022921,0.808014,4.035259,6.508545,IR014
1844,0.530926,-0.727650,0.031310,0.165408,0.168266,-0.409177,0.822493,3.155274,5.374196,IR014
...,...,...,...,...,...,...,...,...,...,...
2295,0.613329,-0.570146,0.032771,0.173551,0.176535,-0.016011,0.616477,3.474270,5.386893,IR014
2296,0.787523,-0.835713,0.035195,0.248829,0.251185,-0.403522,0.643428,3.135230,7.136895,IR014
2297,0.522582,-0.502972,0.035117,0.153311,0.157208,-0.206477,0.708286,3.324131,4.476697,IR014
2298,1.018878,-0.890162,0.031178,0.234686,0.236634,0.006136,1.414241,4.305710,7.589722,IR014
2299,0.795242,-0.808593,0.032512,0.208520,0.210939,0.174284,0.955102,3.770016,6.487939,IR014

#### IR021 Part

In [19]:
df_IR021=df[df['fault'] == 'IR021']
upper_limit = df_IR021.Max.mean() + 3*df_IR021.Max.std()
lower_limit = df_IR021.Max.mean() -3*df_IR021.Max.std()
df_IR021_new = df_IR021[(df_IR021.Max<upper_limit) & (df_IR021.Max>lower_limit)]
df_IR021_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
2300,1.641594,-1.275266,0.010025,0.563342,0.563156,0.026723,-0.553814,2.914991,56.174316,IR021
2301,2.444972,-1.963071,0.007826,0.619264,0.619011,0.116798,0.626531,3.949804,79.099516,IR021
2302,2.174190,-2.183577,0.018248,0.606810,0.606788,0.003296,0.902445,3.583114,33.251656,IR021
2303,1.894645,-1.729839,0.003457,0.620775,0.620482,-0.001119,-0.506792,3.053507,179.494779,IR021
2304,1.550638,-1.327420,0.007312,0.499207,0.499017,0.087814,0.176973,3.107387,68.246939,IR021
...,...,...,...,...,...,...,...,...,...,...
2755,2.249500,-2.307286,0.006577,0.722007,0.721684,-0.010016,0.442630,3.117013,109.723614,IR021
2756,1.493478,-1.303220,0.008666,0.546567,0.546368,-0.001477,-0.406553,2.733463,63.045177,IR021
2757,2.047143,-1.843534,0.006780,0.560429,0.560197,0.025516,0.537321,3.654329,82.622390,IR021
2758,3.124641,-2.437671,0.010168,0.726669,0.726386,0.081394,1.187191,4.301628,71.440099,IR021
2759,2.780426,-2.949613,0.008413,0.736384,0.736072,-0.053705,2.240822,3.777382,87.487296,IR021

#### OR 007 Part

In [20]:
df_OR007=df[df['fault'] == 'OR007']
upper_limit = df_OR007.Max.mean() + 3*df_OR007.Max.std()
lower_limit = df_OR007.Max.mean() -3*df_OR007.Max.std()
df_OR007_new = df_OR007[(df_OR007.Max<upper_limit) & (df_OR007.Max>lower_limit)]
df_OR007_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
2760,4.755513,-4.985047,0.010118,1.185511,1.184975,0.067104,3.566165,4.013175,117.116850,OR007
2761,3.245601,-3.056549,0.008570,0.804181,0.803834,0.074679,3.105579,4.037653,93.791696,OR007
2762,4.972109,-4.927455,0.005757,1.182697,1.182133,0.052232,3.121989,4.206049,205.350020,OR007
2763,4.471727,-4.689992,0.008934,1.079225,1.078735,0.065132,3.488930,4.145343,120.751092,OR007
2764,4.030188,-3.739307,0.007168,0.957198,0.956758,0.105434,3.331352,4.212339,133.468170,OR007
...,...,...,...,...,...,...,...,...,...,...
3215,4.055228,-4.083189,0.012727,0.935902,0.935531,0.000686,3.185361,4.334680,73.509742,OR007
3216,4.802255,-4.581485,0.017911,0.984448,0.984130,0.065066,4.130771,4.879697,54.946495,OR007
3217,4.771789,-5.016347,0.016232,1.208812,1.208330,0.055084,3.599254,3.949076,74.441328,OR007
3218,4.350700,-4.359464,0.016006,1.115173,1.114743,0.076510,2.996968,3.902873,69.646215,OR007
3219,4.888643,-4.894485,0.012421,1.025831,1.025405,0.060764,4.595298,4.767525,82.551650,OR007

#### OR 014 Part

In [21]:
df_OR014=df[df['fault'] == 'OR014']
upper_limit = df_OR014.Max.mean() + 3*df_OR014.Max.std()
lower_limit = df_OR014.Max.mean() -3*df_OR014.Max.std()
df_OR014_new = df_OR014[(df_OR014.Max<upper_limit) & (df_OR014.Max>lower_limit)]
df_OR014_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
3220,0.357358,-0.367372,0.014855,0.112717,0.113637,-0.175340,0.069071,3.144734,7.649913,OR014
3221,0.525294,-0.445394,0.014775,0.143857,0.144544,0.093833,0.880276,3.634142,9.782864,OR014
3222,0.546781,-0.430582,0.013765,0.161011,0.161520,-0.043824,-0.240156,3.385220,11.734157,OR014
3223,0.340252,-0.283926,0.015244,0.112752,0.113723,0.034437,-0.197523,2.991927,7.460398,OR014
3224,0.396578,-0.349014,0.011218,0.141116,0.141492,0.162276,-0.454525,2.802820,12.612791,OR014
...,...,...,...,...,...,...,...,...,...,...
3675,0.374673,-0.378846,0.011512,0.115890,0.116404,0.111838,0.361607,3.218727,10.111422,OR014
3676,0.388859,-0.336079,0.013854,0.123854,0.124566,0.050500,-0.116330,3.121702,8.991645,OR014
3677,0.370918,-0.395326,0.010502,0.131165,0.131521,-0.148235,0.029896,2.820218,12.523103,OR014
3678,0.362365,-0.403879,0.013238,0.139467,0.140026,0.024646,-0.079860,2.587837,10.577342,OR014
3679,0.327735,-0.286012,0.013370,0.102539,0.103357,0.101190,0.463138,3.170894,7.730341,OR014

#### OR 021Part

In [22]:
df_OR021=df[df['fault'] == 'OR021']
upper_limit = df_OR021.Max.mean() + 3*df_OR021.Max.std()
lower_limit = df_OR021.Max.mean() -3*df_OR021.Max.std()
df_OR021_new = df_OR021[(df_OR021.Max<upper_limit) & (df_OR021.Max>lower_limit)]
df_OR021_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
3680,1.689365,-1.569173,0.016104,0.334984,0.335207,0.149808,5.399859,5.039768,20.815121,OR021
3681,1.073381,-1.210267,0.014716,0.248521,0.248835,-0.190579,2.749674,4.313620,16.909301,OR021
3682,4.063992,-4.731725,0.014863,0.830394,0.830121,-0.565485,9.600963,4.895661,55.849931,OR021
3683,1.481533,-1.374696,0.012152,0.316859,0.316937,0.010383,4.954589,4.674529,26.082008,OR021
3684,3.322808,-2.979760,0.016078,0.692525,0.692373,-0.042353,5.538365,4.799156,43.063596,OR021
...,...,...,...,...,...,...,...,...,...,...
4135,5.047229,-5.287613,0.013139,0.901281,0.900937,-0.563396,11.322292,5.602203,68.567144,OR021
4136,2.175141,-2.231064,0.019153,0.388456,0.388738,0.060032,9.639430,5.595391,20.296983,OR021
4137,4.227587,-3.968005,0.007631,0.801136,0.800781,0.172673,6.868961,5.279327,104.937857,OR021
4138,2.685123,-3.117480,0.012759,0.573947,0.573809,-0.730819,9.231373,4.679472,44.973489,OR021
4139,1.017459,-0.996592,0.013429,0.250360,0.250597,0.133848,2.937317,4.060132,18.661136,OR021

#### Normal

In [23]:
df_normal=df[df['fault'] == 'Normal']
upper_limit = df_normal.Max.mean() + 3*df_normal.Max.std()
lower_limit = df_normal.Max.mean() -3*df_normal.Max.std()
df_normal_new = df_normal[(df_normal.Max<upper_limit) & (df_normal.Max>lower_limit)]
df_normal_new

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
4140,0.184416,-0.198810,0.005364,0.065139,0.065328,-0.373157,-0.088115,2.822927,12.178721,Normal
4141,0.204234,-0.171065,0.010640,0.067686,0.068484,-0.201907,-0.298551,2.982204,6.436630,Normal
4142,0.204443,-0.197350,0.009911,0.062348,0.063101,-0.257502,0.148675,3.239937,6.366454,Normal
4143,0.179201,-0.182330,0.009280,0.063680,0.064322,-0.284859,-0.182086,2.786007,6.931122,Normal
4144,0.204860,-0.180244,0.010609,0.063655,0.064503,-0.115523,-0.219963,3.176002,6.079737,Normal
...,...,...,...,...,...,...,...,...,...,...
4595,0.207990,-0.186919,0.014878,0.068253,0.069823,-0.154576,-0.039878,2.978801,4.692954,Normal
4596,0.195055,-0.181495,0.012885,0.065278,0.066506,-0.312184,-0.015466,2.932901,5.161398,Normal
4597,0.214248,-0.224053,0.012330,0.068346,0.069416,-0.337865,0.038123,3.086434,5.629799,Normal
4598,0.196098,-0.247209,0.012699,0.064896,0.066096,-0.411371,0.502724,2.966888,5.204855,Normal
4599,0.188171,-0.198393,0.011719,0.061573,0.062649,-0.283330,-0.135278,3.003571,5.345791,Normal

#### Final Data Frame combining all the sub parts from above after removing outliers

In [24]:
df_final = pd.concat([df_B007_new, df_B014_new,df_B021_new,df_IR007_new,df_IR014_new,df_IR021_new,df_OR007_new,df_OR014_new,df_OR021_new,df_normal_new], ignore_index=True)

In [25]:
df_final

,Max,Min,Mean,Stddev,RMS,skew,kurtosis,crest_factor,form_factor,fault
0,0.359862,-0.326066,0.019037,0.121674,0.123095,-0.035087,-0.173578,2.923439,6.466187,B007
1,0.333993,-0.418900,0.016644,0.123858,0.124911,-0.196543,0.066407,2.673851,7.504862,B007
2,0.410764,-0.361113,0.023228,0.127706,0.129740,0.087575,-0.410059,3.166049,5.585454,B007
3,0.467716,-0.336705,0.021281,0.137159,0.138734,0.247045,0.139518,3.371323,6.519001,B007
4,0.468550,-0.438092,0.019683,0.158518,0.159658,0.006540,-0.407030,2.934707,8.111655,B007
...,...,...,...,...,...,...,...,...,...,...
4546,0.207990,-0.186919,0.014878,0.068253,0.069823,-0.154576,-0.039878,2.978801,4.692954,Normal
4547,0.195055,-0.181495,0.012885,0.065278,0.066506,-0.312184,-0.015466,2.932901,5.161398,Normal
4548,0.214248,-0.224053,0.012330,0.068346,0.069416,-0.337865,0.038123,3.086434,5.629799,Normal
4549,0.196098,-0.247209,0.012699,0.064896,0.066096,-0.411371,0.502724,2.966888,5.204855,Normal
4550,0.188171,-0.198393,0.011719,0.061573,0.062649,-0.283330,-0.135278,3.003571,5.345791,Normal

In [26]:
df_final.to_csv("final_time-features.csv")